
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

*{
    margin: 0;
    outline: none;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    padding: 0;
}

:root{
    --primary-color: #2f2841;
    --background-color:#4169E1;
    --alerta-color:#d33220;
    --sucesso-color:#2ecc71;
    --button-color: #007dc6;
    --text-field:#f0ffffde;
    --primary-mens-wthite:#f0f0f0;
    --secundary-mens-white:#fff;
    --login-secundary:#00ff88;
    --box-shadow-padrao: 0px 10px 40px #00000056;
    --button-login:#2b134b;
}

body * {
    box-sizing: border-box;
}
.main{
    width: 100vw;
    height: 100vh;
    background: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}


.cadastro-link {
   color: #007dc6;
   
}
 p{
    color: white;
 }



.rigth-login{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    height: 220px;
    border-radius: 10px;
    width: 550px;
    max-width: 100%;
    overflow: hidden;
    background-color: #C4CAD0;
    box-sizing: border-box;
    box-shadow: var(--box-shadow-padrao);
    flex-direction: column;
}

 
.loginBloco{
    padding: 20px;
}

.header{
    background-color: #eee;
    padding: 20px;
    text-align: center;
}



.btn-login{
    width: 100%;
    padding: 10px;
    border: 2px solid var(--button-color);
    border-radius: 8px;
    letter-spacing: 3px;
    color:var(--secundary-mens-white);
    background-color: var(--button-color);
    cursor: pointer;
    transition:  0,6s linear;
}
.btn-login:hover{
    opacity:  0.85;
}
